<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="home">P2B</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link" [class.active]="router.isActive('/home', false)" href="home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [class.active]="router.isActive('/places', false)" href="places">Places</a>
        <a class="nav-item nav-link" [class.active]="router.isActive('/home/carousel', false)" href="home/carousel">Carousel</a>
        <a class="nav-item nav-link" [class.active]="router.isActive('/home/cards', false)" href="home/cards">Cards</a>
        </div>
    </div>
</nav>
<hr class="no-margins">

