.section {
  background-image: url(src/assets/place.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  padding-top: 7rem;
  padding-bottom: 7rem;
  top: 0;
  width: 100%;
  z-index: 0;
}

.search {
  margin-top: 19rem;
}
@media (min-width: 576px) {
  .section-xl {
    position: absolute;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .search {
    margin-top: 22rem;
  }
}

//.ng-invalid:not(form)  {
//  border-left: 3px solid #a94442; /* red */
//}

