<section class="section section-xl bg-primary overlay-dark text-white rounded">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-md-center">
        <!-- Heading -->
        <h1 class="">Find your perfect
          <span class="font-weight-bolder">coworking</span> space.
        </h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="card card-body">
          <form autocomplete="off" class="row" method="get" action="html/pages/all-spaces.html">
            <div class="col-12 col-lg-5">
              <div class="form-group mb-lg-0">
                <div class="input-group input-group-lg mb-lg-0">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-flag">

                      </i>
                    </span>
                  </div>
                  <input id="search-location" type="text" class="form-control autocomplete"
                         placeholder="Search country" tabindex="1" required="">
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="input-group input-group-lg mb-3 mb-lg-0">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-building"></i>
                  </span>
                </div>
                <input class="form-control datepicker" placeholder="Select city" type="text" required=""></div>
            </div>
            <div class="col-12 col-lg-3">
              <button class="btn btn-lg btn-primary btn-block mt-3 mt-md-0 animate-up-2" type="submit">Find a place</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
